body{

background:#121212;
color:white;
font-family:sans-serif;

display:flex;
align-items:center;
justify-content:center;

height:100vh;
margin:0;

}

.card{

background:#1e1e1e;
padding:40px;
border-radius:20px;
text-align:center;

}

button{

padding:12px 25px;
background:#4285f4;
color:white;
border:none;
border-radius:8px;

}
